.config/**/*.pid
.config/**/*.db
.config/**/*.log
.config/**/*.git*
.config/**/*.json*
.config/**/*pycache*
.config/mpd/mpdstate
.config/ncmpcpp/bindings.backup
.config/newsboat/.update
.config/spotify-tui/client.yml
.config/zsh/.zcompdump
.config/**/vifminfo
tags
tags.*
