.config/calcurse/.calcurse.pid
.config/emacs/.github/
.config/emacs/.gitignore
.config/mpd/mpd.db
.config/mpd/mpd.pid
.config/mpd/mpdstate
.config/ncmpcpp/bindings.backup
.config/ncmpcpp/error.log
.config/newsboat/.update
.config/newsboat/cache.db
.config/newsboat/newsboat.log
.config/nvim/bundle/fzf/.git
.config/nvim/bundle/fzf/.github/
.config/nvim/bundle/fzf/.gitignore
.config/nvim/bundle/goyo.vim/.git
.config/nvim/bundle/goyo.vim/.gitattributes
.config/nvim/bundle/goyo.vim/.gitignore
.config/nvim/bundle/goyo.vim/.gitignore
.config/nvim/bundle/neomake/.github/
.config/nvim/bundle/neomake/.gitignore
.config/nvim/bundle/neosnippet.vim/.gitignore
.config/nvim/bundle/nerdtree/.git
.config/nvim/bundle/nerdtree/.github/
.config/nvim/bundle/nerdtree/.gitignore
.config/nvim/bundle/syntastic/.gitignore
.config/nvim/bundle/ultisnips/.github/
.config/nvim/bundle/ultisnips/.gitignore
.config/nvim/bundle/vifm.vim/.git
.config/nvim/bundle/vim-css-color/.git
.config/nvim/bundle/vim-highlightedyank/.git
.config/nvim/bundle/vim-online-thesaurus/.git
.config/nvim/bundle/vim_css_color/.gitattributes
.config/nvim/bundle/vim_gutentags/.github/
.config/nvim/bundle/vim_gutentags/.gitignore
.config/nvim/bundle/vim_highlightedyank/.gitignore
.config/nvim/bundle/vimtex/.git
.config/nvim/bundle/vimtex/.github/
.config/nvim/bundle/vimtex/.gitignore
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/vifm/vifminfo.json
.config/vifm/vifminfo.json_1959041
.config/vifm/vifminfo.json_224140
.config/vifm/vifminfo.json_483225
.config/zsh/.zcompdump
tags
