.config/calcurse/.calcurse.pid
.config/mpd/mpd.db
.config/mpd/mpd.pid
.config/mpd/mpdstate
.config/ncmpcpp/bindings.backup
.config/ncmpcpp/error.log
.config/newsboat/.update
.config/newsboat/cache.db
.config/newsboat/newsboat.log
.config/nvim/bundle/vim_devicons/.git*
.config/nvim/bundle/fzf/.git*
.config/nvim/bundle/goyo.vim/.git*
.config/nvim/bundle/neomake/.git*
.config/nvim/bundle/neosnippet.vim/.git*
.config/nvim/bundle/neosnippet_snippets/.git*
.config/nvim/bundle/nerdtree/.git*
.config/nvim/bundle/syntastic/.git*
.config/nvim/bundle/ultisnips/.git*
.config/nvim/bundle/vifm.vim/.git*
.config/nvim/bundle/vim_css_color/.git*
.config/nvim/bundle/vim_highlightedyank/.git*
.config/nvim/bundle/vim_online_thesaurus/.git*
.config/nvim/bundle/vim_css_color/.git*
.config/nvim/bundle/vim_gutentags/.git*
.config/nvim/bundle/vim_devicons/.git*
.config/nvim/bundle/vim_highlightedyank/.git*
.config/nvim/bundle/vimtex/.git*
.config/nvim/bundle/deoplete_clangx/.git*
.config/nvim/bundle/deoplete.nvim/.git*
.config/nvim/bundle/neco_syntax/.git*
.config/nvim/bundle/vim_nerdtree_syntax_highlight/.git*
.config/nvim/bundle/vim_snippets/.git*
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.config/vifm/vifminfo.json*
.config/zsh/.zcompdump
tags
